<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
	<div class="col-sm-9">
		<h4 class="page-title">Other Charts</h4>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javaScript:;">Bulona</a>
			</li> 
			<li class="breadcrumb-item"><a href="javaScript:;">Charts</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Other Charts</li>
		</ol>
	</div> 
	<div class="col-sm-3">
		<div ngbDropdown class="btn-group float-sm-right">
			<button type="button" class="btn btn-outline-danger"><i class="fa fa-cog mr-1"></i> Setting</button>
			<button type="button" class="btn btn-danger" id="dropdownBasic5" ngbDropdownToggle> <span class="caret"></span>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic5"> 
        		<a href="javaScript:;" ngbDropdownItem>Action</a>
				<a href="javaScript:;" ngbDropdownItem>Another action</a>
				<a href="javaScript:;" ngbDropdownItem>Something else here</a>
				<div class="dropdown-divider"></div> 
				<a href="javaScript:;" ngbDropdownItem>Separated link</a>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumb-->
<div class="card">
	<div class="card-header text-uppercase">Jquery Easy Pie Chart</div>
	<div class="card-content">
		<div class="row row-group m-0 text-center">
			<div class="col-12 col-lg-6 col-xl-3">
				<div class="card-body">
					<div class="chart easy-pie-chart-1" data-percent="55"> <span class="percent"></span>
					</div>
					<hr>
					<p class="font-weight-bold">New Visits</p>
				</div>
			</div>
			<div class="col-12 col-lg-6 col-xl-3">
				<div class="card-body">
					<div class="chart easy-pie-chart-2" data-percent="46"> <span class="percent"></span>
					</div>
					<hr>
					<p class="font-weight-bold">Bounce Rate</p>
				</div>
			</div>
			<div class="col-12 col-lg-6 col-xl-3">
				<div class="card-body">
					<div class="chart easy-pie-chart-3" data-percent="92"> <span class="percent"></span>
					</div>
					<hr>
					<p class="font-weight-bold">Server Load</p>
				</div>
			</div>
			<div class="col-12 col-lg-6 col-xl-3">
				<div class="card-body">
					<div class="chart easy-pie-chart-4" data-percent="65"> <span class="percent"></span>
					</div>
					<hr>
					<p class="font-weight-bold">Used RAM</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Card-->
<div class="card">
	<div class="card-content">
		<div class="row row-group m-0 text-center">
			<div class="col-12 col-lg-6 col-xl-3">
				<div class="card-body">
					<div class="chart easy-pie-chart-5" data-percent="55"> <span class="percent"></span>
					</div>
					<hr>
					<p class="font-weight-bold">New Visits</p>
				</div>
			</div>
			<div class="col-12 col-lg-6 col-xl-3">
				<div class="card-body">
					<div class="chart easy-pie-chart-6" data-percent="46"> <span class="percent"></span>
					</div>
					<hr>
					<p class="font-weight-bold">Bounce Rate</p>
				</div>
			</div>
			<div class="col-12 col-lg-6 col-xl-3">
				<div class="card-body">
					<div class="chart easy-pie-chart-7" data-percent="92"> <span class="percent"></span>
					</div>
					<hr>
					<p class="font-weight-bold">Server Load</p>
				</div>
			</div>
			<div class="col-12 col-lg-6 col-xl-3">
				<div class="card-body">
					<div class="chart easy-pie-chart-8" data-percent="65"> <span class="percent"></span>
					</div>
					<hr>
					<p class="font-weight-bold">Used RAM</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Card-->