<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
	<div class="col-sm-9">
		<h4 class="page-title">BS Elements</h4>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javaScript:;">Bulona</a>
			</li>
			<li class="breadcrumb-item"><a href="javaScript:;">UI Elements</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">BS Elements</li>
		</ol>
	</div>
	<div class="col-sm-3">
		<div ngbDropdown class="btn-group float-sm-right">
			<button type="button" class="btn btn-outline-danger"><i class="fa fa-cog mr-1"></i> Setting</button>
			<button type="button" class="btn btn-danger" id="dropdownBasic5" ngbDropdownToggle> <span class="caret"></span>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic5"> 
        		<a href="javaScript:;" ngbDropdownItem>Action</a>
				<a href="javaScript:;" ngbDropdownItem>Another action</a>
				<a href="javaScript:;" ngbDropdownItem>Something else here</a>
				<div class="dropdown-divider"></div> 
				<a href="javaScript:;" ngbDropdownItem>Separated link</a>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumb-->
<!-- Bootstrap Badge & Pills-->
<h6 class="text-uppercase">Bootstrap Badge & Pills</h6>
<hr>
<div class="card">
	<div class="card-body">
		<span class="badge badge-primary m-1">Primary</span>
		<span class="badge badge-secondary m-1">Secondary</span>
		<span class="badge badge-success m-1">Success</span>
		<span class="badge badge-danger m-1">Danger</span>
		<span class="badge badge-warning m-1">Warning</span>
		<span class="badge badge-info m-1">Info</span>
		<span class="badge badge-light m-1">Light</span>
		<span class="badge badge-dark m-1">Dark</span>
		<hr> <span class="badge badge-pill badge-primary m-1">Primary</span>
		<span class="badge badge-pill badge-secondary m-1">Secondary</span>
		<span class="badge badge-pill badge-success m-1">Success</span>
		<span class="badge badge-pill badge-danger m-1">Danger</span>
		<span class="badge badge-pill badge-warning m-1">Warning</span>
		<span class="badge badge-pill badge-info m-1">Info</span>
		<span class="badge badge-pill badge-light m-1">Light</span>
		<span class="badge badge-pill badge-dark m-1">Dark</span>
		<hr> <span class="badge badge-primary m-1">10</span>
		<span class="badge badge-secondary m-1">20</span>
		<span class="badge badge-success m-1">30</span>
		<span class="badge badge-danger m-1">40</span>
		<span class="badge badge-warning m-1">50</span>
		<span class="badge badge-info m-1">60</span>
		<span class="badge badge-light m-1">70</span>
		<span class="badge badge-dark m-1">80</span>
		<hr> <span class="badge badge-pill badge-primary m-1">10</span>
		<span class="badge badge-pill badge-secondary m-1">20</span>
		<span class="badge badge-pill badge-success m-1">30</span>
		<span class="badge badge-pill badge-danger m-1">40</span>
		<span class="badge badge-pill badge-warning m-1">50</span>
		<span class="badge badge-pill badge-info m-1">60</span>
		<span class="badge badge-pill badge-light m-1">70</span>
		<span class="badge badge-pill badge-dark m-1">80</span>
	</div>
</div>
<h6 class="text-uppercase">Badge & Pills with shadows</h6>
<hr>
<div class="card">
	<div class="card-body"> <span class="badge badge-primary shadow-primary m-1">Primary</span>
		<span class="badge badge-secondary shadow-secondary m-1">Secondary</span>
		<span class="badge badge-success shadow-success m-1">Success</span>
		<span class="badge badge-danger shadow-danger m-1">Danger</span>
		<span class="badge badge-warning shadow-warning m-1">Warning</span>
		<span class="badge badge-info shadow-info m-1">Info</span>
		<span class="badge badge-light shadow-light m-1">Light</span>
		<span class="badge badge-dark shadow-dark m-1">Dark</span>
		<hr> <span class="badge badge-pill badge-primary shadow-primary m-1">Primary</span>
		<span class="badge badge-pill badge-secondary shadow-secondary m-1">Secondary</span>
		<span class="badge badge-pill badge-success shadow-success m-1">Success</span>
		<span class="badge badge-pill badge-danger shadow-danger m-1">Danger</span>
		<span class="badge badge-pill badge-warning shadow-warning m-1">Warning</span>
		<span class="badge badge-pill badge-info shadow-info m-1">Info</span>
		<span class="badge badge-pill badge-light shadow-light m-1">Light</span>
		<span class="badge badge-pill badge-dark shadow-dark m-1">Dark</span>
		<hr> <span class="badge badge-primary shadow-primary m-1">10</span>
		<span class="badge badge-secondary shadow-secondary m-1">20</span>
		<span class="badge badge-success shadow-success m-1">30</span>
		<span class="badge badge-danger shadow-danger m-1">40</span>
		<span class="badge badge-warning shadow-warning m-1">50</span>
		<span class="badge badge-info shadow-info m-1">60</span>
		<span class="badge badge-light shadow-light m-1">70</span>
		<span class="badge badge-dark shadow-dark m-1">80</span>
		<hr> <span class="badge badge-pill badge-primary shadow-primary m-1">10</span>
		<span class="badge badge-pill badge-secondary shadow-secondary m-1">20</span>
		<span class="badge badge-pill badge-success shadow-success m-1">30</span>
		<span class="badge badge-pill badge-danger shadow-danger m-1">40</span>
		<span class="badge badge-pill badge-warning shadow-warning m-1">50</span>
		<span class="badge badge-pill badge-info shadow-info m-1">60</span>
		<span class="badge badge-pill badge-light shadow-light m-1">70</span>
		<span class="badge badge-pill badge-dark shadow-dark m-1">80</span>
	</div>
</div>
<!-- / Bootstrap Badge & Pills-->
<!--Popoverss-->
<h6 class="text-uppercase">Popoverss</h6>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<button type="button" class="btn btn-primary btn-sm m-2" placement="top" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">Popover on top</button>
				<button type="button" class="btn btn-primary btn-sm m-2" placement="right" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on right">Popover on right</button>
				<button type="button" class="btn btn-primary btn-sm m-2" placement="bottom" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on bottom">Popover on bottom</button>
				<button type="button" class="btn btn-primary btn-sm m-2" placement="left" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on left">Popover on left</button>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<!-- / Popoverss-->
<!--Tooltips-->
<h6 class="text-uppercase">Tooltips</h6>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<button type="button" class="btn btn-primary btn-sm m-2" placement="top" ngbTooltip="Tooltip on top">Tooltip on top</button>
				<button type="button" class="btn btn-primary btn-sm m-2" placement="right" ngbTooltip="Tooltip on right">Tooltip on right</button>
				<button type="button" class="btn btn-primary btn-sm m-2" placement="bottom" ngbTooltip="Tooltip on bottom">Tooltip on bottom</button>
				<button type="button" class="btn btn-primary btn-sm m-2" placement="left" ngbTooltip="Tooltip on left">Tooltip on left</button>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<!-- / Tooltips-->